html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header.site-header {
	display: flex;
	align-items: center;
	background: #1A1A1A;
	color: white;
	padding: 0 5vw;
	h1 {
		span {
			font-size: 1rem;
		}
	}
	a {
		color:white;
	}
}

article.post {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5vw;
	padding: 0;
	&:first-child {
		background: var(--accent_color)
	}
}

.event__details, .event__image__counter, .event__registration {
	flex: 1 0 100%;
	min-width: 320px;
	padding: 5vw;
	h2 {
		margin: 0;
	}
	h1 {
		margin-top: 0;
	}
	@media only screen and (min-width: 990px) {
		flex: 1 0 33.333%;
	}
}

.event__image__counter {
	padding: 5vw 0;
	position: relative;
	.counter {
		text-align: center;
		// position: absolute;
		// top: 100%;
		// left: 50%;
		// background: black;
		// color: white;
	}
}


.event__details {
	display: flex;
	flex-direction: column;
	.event__info {
		flex-grow: 1;
	}
}

.event__date {
	color: $color__text-input;
}

.event__registration {
	display: flex;
	flex-direction: column;

	h2 {
		align-self: flex-end;
		margin-bottom: 1em;
	}

	form {
		flex-grow: 1;
	}

	input {
		width: 100%;
		background: none;
		appearance: none;
		-webkit-appearance: none;
		border-style: solid;
		border-color: black;
		border-width: 1px 0 0 0;
		border-radius: 0;
		&:nth-child(4) {
			border-width: 1px 0 1px 0;
		}
	}

	.submit {
		align-self: flex-end;
	}
}


main {
	padding: 0 5vw;
}

footer {
	text-align: center;
}

.site-branding {
	flex: 1;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
