header.site-header {
	background: #1A1A1A;
	color: white;
	padding: 0 5vw;
	position: sticky;
	top: 0;
	z-index: 9;
	.header__inner {
		max-width: $max__width;
		display: flex;
		align-items: center;
		margin: 0 auto;
		position: relative;
		.site-logo {
			flex: 1;
			text-align: center;
			position: relative;
			height: 100px;
			img {
				height: 100px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
			@keyframes crossFadeToVisible {
				from {
					visibility:hidden;
				 }
				50% {
						visibility:hidden;
					}
				to {
						visibility:visible;
				}
			  }
			@keyframes crossFadeToHidden {
				from {
					visibility:visible;
				 }
				50% {
						visibility:hidden;
					}
				to {
						visibility:hidden;
				}
			}
			  img.logo__goscho--gitarre {
				visibility: hidden;
				animation: crossFadeToVisible 0.5s linear infinite alternate;
			  }
			  img.logo__goscho--drink {
				visibility: visible;
			  	animation: crossFadeToHidden 0.5s linear infinite alternate;
			}
		}
	}
	h1 {
		span {
			font-size: 1rem;
		}
	}
	a {
		color:white;
	}
}
.site-branding {
	z-index: 9;
	a {
		display: block;
	}
}
.site-branding, .main-navigation {
	flex: 1;
}
.main-navigation {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	.menu-item:last-child a{
		margin-right: 0;
	}
}