button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	color: black;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button, a.button {
	width: 100%;
	background: none;
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid black;
	margin-top: 1rem;
	padding: 0.5rem;
	max-width: 200px;
	display: block;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: black;
		color: white;
	}
	&.submit {
		font-weight: 700;
	}
}
