.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			outline: none;
		}
	}

	a {
		display: block;
		text-decoration: none;
		margin-right: 1rem;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: #fef37a;
		color: var(--accent_color);
	}
}

/* Small menu. */

.menu-toggle, .menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active {
	display: flex;
	flex-direction: column;
	background: none;
	border: none;
	-webkit-appearance: none;
	outline: none;
	align-items: flex-end;
	z-index: 9;
	width: auto;
	margin: 0;
	.menu-toggle--top, .menu-toggle--bottom {
		margin: 0.25rem 0;
		transition: transform 0.5s ease-in-out;
		transform-origin: center;
	}
}

.main-navigation.toggled {
	.nav-menu {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		background: #1A1A1A;
		z-index: 8;
		padding: 0 5vw;
		.menu-item {
			font-size: 1.5em;
			font-weight: 700;
			margin-bottom: 0.5em;
		}
	}
	.menu-toggle--top {
		transform: translateY(calc(0.325em)) rotate(-45deg);
	}
	.menu-toggle--bottom {
		transform: translateY(calc(-0.325em)) rotate(45deg);
	}
}

@media screen and (min-width: 48em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
